# Project exclude paths

security-service/src/main/resources/application.yml
trade-service/src/main/resources/application.yml
frm-service/src/main/resources/application.yml
address-service/src/main/resources/application.yml

.idea
build
/build/

gradle/wrapper
gradlew
gradlew.bat
/gradle/
/.gradle/
/.gradle
generated
