server:
  port: 8095

resource-path:
  url-pattern: http://localhost:8095/file/
  path-pattern: /file/**
  location-path: file:///Users/leechoongsub/desktop/msa-project/frm/
  profile-image-path: /Users/leechoongsub/desktop/msa-project/frm/profile-images/
  trade-image-path: /Users/leechoongsub/desktop/msa-project/frm/trade-images/
resource-access:
  profile: http://localhost:8095/file/profile-images/
  trade: http://localhost:8095/file/trade-images/
  default-profile: http://localhost:8095/file/default/


spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mongodb:
    embedded:
      version: 4.0.21
  config:
    activate:
      on-profile: local

logging:
  level:
    sql: debug
---

server:
  port: 8095

resource-path:
  url-pattern: http://localhost:8095/file/
  path-pattern: /file/**
  location-path: file:///Users/leechoongsub/desktop/msa-project/frm/
  profile-image-path: /Users/leechoongsub/desktop/msa-project/frm/profile-images/
  trade-image-path: /Users/leechoongsub/desktop/msa-project/frm/trade-images/
resource-access:
  profile: http://localhost:8095/file/profile-images/
  trade: http://localhost:8095/file/trade-images/
  default-profile: http://localhost:8095/file/default/

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    mongodb:
      host: localhost
      port: 27017
      database: file-resource-management-test
  config:
    activate:
      on-profile: test
logging:
  level:
    sql: debug
---
server:
  port: 8095

resource-path:
  url-pattern: http://localhost:8095/file/
  path-pattern: /file/**
  location-path: file:///Users/leechoongsub/desktop/msa-project/frm/
  profile-image-path: /Users/leechoongsub/desktop/msa-project/frm/profile-images/
  trade-image-path: /Users/leechoongsub/desktop/msa-project/frm/trade-images/
resource-access:
  profile: http://localhost:8095/file/profile-images/
  trade: http://localhost:8095/file/trade-images/
  default-profile: http://localhost:8095/file/default/

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  data:
    mongodb:
      host: localhost
      port: 27017
      database: file-resource-management
  config:
    activate:
      on-profile: prod
logging:
  level:
    sql: error