server:
  port: 8081

spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:test
    username: sa
    password: 1234
  h2:
    console:
      enabled: true
      path: /h2/console
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true # log
        show_sql: true
    open-in-view: false
    database-platform: org.hibernate.dialect.H2Dialect
  logging:
    level:
      org.hibernate.SQL:
        type.descriptor.sql: trace
        SQL: DEBUG



eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka


internal:
  frm: "http://localhost:8095/internal/frm/trade-image"

cloud:
  aws:
    region:
      static: ap-northeast-2
    stack:
      auto: false


file.dir: /Users/leechoongsub/desktop/msa-project/local-storage/

logging:
  level:
    root: info
    org.springframework.orm.jpa: DEBUG
    org.springframework.transaction: DEBUG


