server:
  port: 8888

spring:
  application:
    name: config-service
  rabbitmq:
    host: 127.0.0.1
    port: 15672
    username: guest
    password: guest

  cloud:
    config:
      server:
        git:
          uri: https://github.com/ImBoriPapa/bori-market-colud-cofig.git
#          username:
#          password:
      config:
        server:
          local
management:
  endpoints:
    web:
      exposure:
        include: health,refresh,busrefresh
